You can solve these exercises in the room or at home. For this week, and the next 3 weeks, exercises have to be solved by creating a dedicated `.py` file (or files) called `01ex_introduction.py`.

In case you need multiple files, name them `01ex_introduction_es01.py`, `01ex_introduction_es02.py` and so on. 

The exercises need to run without errors in `python3`.

1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [1]:
#1A:
for i in range(1,101):  #returns i , 1 to 100
    if i%3 == 0 and i%5 == 0:  # when i multiple of 15
        print("HelloWorld")
    elif i%5 == 0: #when i multiple of 5
        print("World")
    elif i%3 == 0: #when i multiple of 3
        print("Hello")
    else:
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [5]:
def hello_world(x,n):
    list_1=[]
    for i in range(x,n+1):  
        if i%3 == 0 and i%5 == 0:  
            list_1.append("HelloWorld")
        elif i%5 == 0: 
            list_1.append("World")
        elif i%3 == 0: 
            list_1.append("Hello")
        else:
            list_1.append(i)
    return tuple(list_1) #turned tuple
tuple_2 = hello_world(1,100) #here is the tuple.
#now we can substitute the words but tuple is immutable so we need to convert it to list than we can do the substitution
tuple_2 = list(tuple_2)

for i in range(len(tuple_2)):
    if tuple_2[i] == "HelloWorld":
        tuple_2[i] = "PythonWorks"
    if tuple_2[i] == "World":
        tuple_2[i] = "Works"
    if tuple_2[i] == "Hello":
        tuple_2[i] = "Python"
       
tuple_2 = tuple(tuple_2) #convert it to tuple

print(tuple_2)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. **The swap**

Write a program that swaps the values of two input variables *x* and *y* from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [7]:
#cretaing a function that swaps variables without caring for the type of them
def swap_func(x,y):
    x,y = y,x  
    return x,y


print(swap_func("4",5))

(5, '4')

3\. **Computing the distance**

Write a function that calculates and returns the euclidean distance between two points *u* and *v* in a 2D space, where *u* and *v* are both 2-tuples *(x,y)*.

Example: if *u=(3,0)* and *v=(0,4)*, the function should return 5.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [8]:
#creating a function that takes 2 tuples as arguments and computes the formula for the euclidian distance
def euclidean_distance(u,v):
    (x1,y1) = u   
    (x2,y2) = v
    return ((x2-x1)**2+(y2-y1)**2)**(1/2) 


print(euclidean_distance((0,0),(3,4)))

5.0

4\. **Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The strings are in the cell below.

In [10]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [11]:
def char_counter(string): #creating a function that takes a string as argument
    charlist = []  #defining an empty list so we can later put the unique characters in it
    countchar = {} #empty dictionary that we can put as key-value pairs the characters and the number of times they occur
    
    string = string.lower() #to ignore differences in capitalization
    
    for i in range(len(string)):  
        if string[i] not in charlist: #if a character unique for the charlist
            charlist.append(string[i]) #we put it in the list
            
        elif string[i] in charlist: #if it is not unique we do nothing
            pass
        
    for i in range(len(charlist)): #for every char in list
        countchar[charlist[i]] = string.count(string[i]) #it will make the list item = key, 
                                                         #value = number of times the char occurs
                                                      
            
    return  countchar

char_counter(s2)

{'t': 2,
 'h': 2,
 'e': 3,
 ' ': 8,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 8,
 'r': 1,
 'o': 2,
 'w': 4,
 'n': 1,
 'f': 1,
 'x': 8,
 'j': 1,
 'm': 4,
 'p': 1,
 's': 8,
 'v': 1,
 'l': 2,
 'a': 1,
 'z': 1,
 'y': 1,
 'd': 8,
 'g': 4}

5\. **Isolating the unique**

Write a program that determines and counts the unique numbers in the list:

In [13]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Do the same exploiting only the Python data structures.

In [14]:
def unique_isolator(arr):
    list_1 = [] #we create an empty list
    for item in arr: 
        if item not in list_1: #if there is a new number put it in the list
            list_1.append(item)
    return len(list_1) ,list_1
 
print("Unique number count of the list: "+str(unique_isolator(l)[0]))
print("New list: "+str(unique_isolator(l)[1])) #printing the new list with unique elements

Unique number count of the list: 54
New list: [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

In [16]:
#Do the same exploiting only the Python data structures.
print("Unique number count of the list: "+str(len(set(l)))) #this can be done with using sets

#print(len(set(l)))
print("         ")
print("New list: "+str(list(set(l)))) #make it set then make it list again

Unique number count of the list: 54

New list: [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* and print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [18]:
x = input("Insert variable x: ")
y = input("Insert variable y: ")

try:
    var1 = int(x) #x is an int
except ValueError:
    try:
        var1 = float(x) #x is a float
    except ValueError:
        var1 = x #x is a string
try:
    var2 = int(y) #y is an int
except ValueError:
    try:
        var2 = float(y) #y is a float
    except ValueError:
        var2 = y #y is a string   

try:
    added = var1+var2
    print("summ is:",added)
except:
    print("Addition was not possible")

Insert variable x: 2
Insert variable y: 3
summ is: 5

7\. **Cubes**

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [22]:
#a) for loop
list_1 = []
for i in range(1,11):
    list_1.append(i**3)
print(list_1)

#b) list comprehension
list_2 = [i**3 for i in range(1,11)]
print(list_2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. **List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [23]:
a = [(i,j) for j in range(4) for i in range(3)]
print(a)

[(0, 0), (1, 0), (2, 0), (0, 1), (1, 1), (2, 1), (0, 2), (1, 2), (2, 2), (0, 3), (1, 3), (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [24]:
[(a,b,c) for c in range(1,101) for b in range(1,101) for a in range(1,101) if a**2+b**2==c**2] #iterate through the values from 1 to 101 that sutisfy the Pythagorean condition

[(4, 3, 5),
 (3, 4, 5),
 (8, 6, 10),
 (6, 8, 10),
 (12, 5, 13),
 (5, 12, 13),
 (12, 9, 15),
 (9, 12, 15),
 (15, 8, 17),
 (8, 15, 17),
 (16, 12, 20),
 (12, 16, 20),
 (24, 7, 25),
 (20, 15, 25),
 (15, 20, 25),
 (7, 24, 25),
 (24, 10, 26),
 (10, 24, 26),
 (21, 20, 29),
 (20, 21, 29),
 (24, 18, 30),
 (18, 24, 30),
 (30, 16, 34),
 (16, 30, 34),
 (28, 21, 35),
 (21, 28, 35),
 (35, 12, 37),
 (12, 35, 37),
 (36, 15, 39),
 (15, 36, 39),
 (32, 24, 40),
 (24, 32, 40),
 (40, 9, 41),
 (9, 40, 41),
 (36, 27, 45),
 (27, 36, 45),
 (48, 14, 50),
 (40, 30, 50),
 (30, 40, 50),
 (14, 48, 50),
 (45, 24, 51),
 (24, 45, 51),
 (48, 20, 52),
 (20, 48, 52),
 (45, 28, 53),
 (28, 45, 53),
 (44, 33, 55),
 (33, 44, 55),
 (42, 40, 58),
 (40, 42, 58),
 (48, 36, 60),
 (36, 48, 60),
 (60, 11, 61),
 (11, 60, 61),
 (63, 16, 65),
 (60, 25, 65),
 (56, 33, 65),
 (52, 39, 65),
 (39, 52, 65),
 (33, 56, 65),
 (25, 60, 65),
 (16, 63, 65),
 (60, 32, 68),
 (32, 60, 68),
 (56, 42, 70),
 (42, 56, 70),
 (55, 48, 73),
 (48, 55, 73),
 (70, 24, 74),
 (24, 70, 74),
 (72, 21, 75),
 (60, 45, 75),
 (45, 60, 75),
 (21, 72, 75),
 (72, 30, 78),
 (30, 72, 78),
 (64, 48, 80),
 (48, 64, 80),
 (80, 18, 82),
 (18, 80, 82),
 (84, 13, 85),
 (77, 36, 85),
 (75, 40, 85),
 (68, 51, 85),
 (51, 68, 85),
 (40, 75, 85),
 (36, 77, 85),
 (13, 84, 85),
 (63, 60, 87),
 (60, 63, 87),
 (80, 39, 89),
 (39, 80, 89),
 (72, 54, 90),
 (54, 72, 90),
 (84, 35, 91),
 (35, 84, 91),
 (76, 57, 95),
 (57, 76, 95),
 (72, 65, 97),
 (65, 72, 97),
 (96, 28, 100),
 (80, 60, 100),
 (60, 80, 100),
 (28, 96, 100)]

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [ ]:
tup1=(2,3,4,5,6)
max(tup1)
def normalize_tup(tup):
    tup2=[] 
    for i in range(len(tup)):
        tup2.append(tup[i]/sum(tup)) #i normalized it the total sum of the tuple
    return tuple(tup2)
normalize_tup(tup1)

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [ ]:
fib1 = [0,1]
while len(fib1)<20:
    fib_new = fib1[-1]+fib1[-2]
    fib1.append(fib_new)
print(fib1)

#Using for loop (iterative)
fib2 = [0,1]
a,b = 0,1
for i in range(18):
    a,b = b,a+b
    fib2.append(b)
print(fib2)